{%extends 'index.html'%}
{%load static%}

{%block content%}

<div class="product-detail ">

    <h1>Cart Items Worth : {{cs}} $ </h1>
    <div class="row">
        {%for i in cart%}
        <div class="col ">
            <p style="background:rgba(0,0,0,0.9);color:white;padding: 20px;">Cutomer name: <span>{{i.customer}} </span>  cart_added_on : <span>{{i.date}}</span></p>
            <img src="{{i.product.image.url}}"  alt="picture">
            <hr>
            {%if i.product.rating > 0 and i.product.rating < 2 %}
          <span class="rating">
            <img src="{% static "app/img/filled.png"%}" alt="">
          </span>
          {%endif%}
          {%if i.product.rating > 1 and i.product.rating < 3 %}
          <span class="rating">
            <img src="{% static "app/img/filled.png"%}" alt="">
            <img src="{% static "app/img/filled.png"%}" alt="">
          </span>
          {%endif%}
          {%if i.product.rating > 2 and i.product.rating < 4 %}
          <span class="rating">
            <img src="{% static "app/img/filled.png"%}" alt="">
            <img src="{% static "app/img/filled.png"%}" alt="">
            <img src="{% static "app/img/filled.png"%}" alt="">
          </span>
          {%endif%}
          {%if i.product.rating > 3 and i.product.rating < 5 %}
          <span class="rating">
            <img src="{% static "app/img/filled.png"%}" alt="">
            <img src="{% static "app/img/filled.png"%}" alt="">
            <img src="{% static "app/img/filled.png"%}" alt="">
            <img src="{% static "app/img/filled.png"%}" alt="">
          </span>
          {%endif%}
          {%if i.product.rating > 4 and i.product.rating < 6 %}
          <span class="rating">
            <img src="{% static "app/img/filled.png"%}" alt="">
            <img src="{% static "app/img/filled.png"%}" alt="">
            <img src="{% static "app/img/filled.png"%}" alt="">
            <img src="{% static "app/img/filled.png"%}" alt="">
            <img src="{% static "app/img/filled.png"%}" alt="">
          </span>
          {%endif%}<br>
            <span class="price">Price : {{i.product.price}} $</span>
            <a href="{%url 'app:remove_cart' i.id%}" class="bg-success">Remove From Cart</a><br><br>
        </div>
        {%endfor%}
    </div>

</div>
{%endblock%}